<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/boxicons.min.css" />
        <link rel="stylesheet" href="assets/css/flaticon.css" />
        <link rel="stylesheet" href="assets/css/animate.min.css" />
        <link rel="stylesheet" href="assets/css/nice-select.css" />
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css" />
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
        <link rel="stylesheet" href="assets/css/meanmenu.min.css" />
        <link rel="stylesheet" href="assets/css/style.css" />
        <link rel="stylesheet" href="assets/css/responsive.css" />
        <link rel="stylesheet" href="assets/css/theme-dark.css" />
    </head>
    <body>
       	<!-- start header area -->
        <div th:replace="AdminNavbar :: header"></div>

        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h1>Welcome Admin</h1>
                    <ul>
                        <li class="item"><a href="index.html">Home</a></li>
                        <li class="item active"><span></span>Admin Login</li>
                    </ul>
                </div>
            </div>
            <div class="bg-image">
                <img src="assets/images/page-title/login.jpg" alt="Demo Image">
            </div>
        </div>
        
        
        <div class="row shorting">
                    <div class="grid-item col-sm-12 col-md-6 col-lg-4 mix hair">
                        <div class="card mb-30">
                            <div class="image">
                                <img src="myuploads/cities.jpg" alt="Demo Image">
                            </div>
                            <div class="content">
                                <h3 class="title"><a href="services-details.html">Manage Cities</a></h3>
                                <p class="text">Manage All the cities in which saloons are registered.</p>
                                <a href="/admincities" class="primary-btn">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item col-sm-12 col-md-6 col-lg-4 mix hair">
                        <div class="card mb-30">
                            <div class="image">
                                <img src="myuploads/saloonowners.jpg" alt="Demo Image">
                            </div>
                            <div class="content">
                                <h3 class="title"><a href="services-details.html">Manage Owners </a></h3>
                                <p class="text">Approve or deny the Owners of the Saloons.</p>
                                <a href="services-details.html" class="primary-btn">View Details</a>
                            </div>
                        </div>
                    </div>
                   <div class="grid-item col-sm-12 col-md-6 col-lg-4 mix hair">
                        <div class="card mb-30">
                            <div class="image">
                                <img src="myuploads/Reviews-twelve.png" alt="Demo Image">
                            </div>
                            <div class="content">
                                <h3 class="title"><a href="services-details.html">Website Reviews </a></h3>
                                <p class="text">Includes all the reviews given the users of the website.</p>
                                <a href="services-details.html" class="primary-btn">View Details</a>
                            </div>
                        </div>
                    </div>

                </div> 
        
    </body>
</html>
